<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Gishnanigans {{title}}</title>
<base href="{{base}}" />
<script src="include/js/header.js"></script>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link href="include/css/main.css" type="text/css" rel="stylesheet" media="screen" />
<link href="include/css/header.css" type="text/css" rel="stylesheet" media="screen" />
</head>
<body>
  {{> header}}
  <section id="content">
    
{{{contents}}}

{{#data}}
<ul>
  <li>
    <ul>
      <li>Item #{{number}}</li>
      <li>Points: {{points}}</li>
      <li>Status: {{status}}</li>
      <ul>
      {{#if owners}}
        {{#each owners}}
          <li>Owner: {{this}}</li>
        {{/each}}
      {{else}}
        <li>Owner: none</li>
      {{/if}}
      </ul>
      <li>Details: {{detail}}</li>
    </ul>
  </li>
</ul>
{{/data}}


  </section>
  {{> footer}}
</body>
</html>