<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Gishnanigans {{title}}</title>
<base href="{{base}}" />
<script src="include/js/header.js"></script>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link href="include/css/main.css" type="text/css" rel="stylesheet" media="screen" />
<link href="include/css/header.css" type="text/css" rel="stylesheet" media="screen" />
</head>
<body>
  {{> header}}
  <section id="content">
    
{{{contents}}}

<p><strong><a href="ftp" target="_blank">Download Files Here (gishnanigans.com/ftp)</a></strong></p>

<form>
  Upload content here...
</form>

<iframe>
  Download content here...
</iframe>

  </section>
  {{> footer}}
</body>
</html>