
@small-delta: ~"(max-width: 749px)";
@large-delta: ~"(min-width: 750px)";

// @background: #C10303; // red
@yellow: #FFE600; // yellow
// @foreground: #FFF;
@blood: #C10303; // red

@ruby: rgba(198,47,100,1);
// @brick: rgba(142,34,36,1);
@violet: rgba(93,22,206,1);
@purple: rgba(68,41,130,1);
@indigo: rgba(73,15,104,1);
@blue: rgba(48,134,204,1);
@gray: #777;
@slate: rgba(61,61,61,1);

///////// actionable styles follow

@foreground: #FFF;
@background: @blood;

@left: @ruby;
@right: @violet;

.gradient (@start @finish) {
  background: linear-gradient(to right, @start 0%, @finish 90%);
}


/*following is header.css styles*/

a {
  text-decoration: none;
}

body {
  font-size: 100%;
}

header {
  position: relative;
  color: @foreground;
}

#top-bar,
#burger-icon,
#menu-toggle {
  display: none;
}


#banner {
  position: relative;
  height: 300px;
  line-height: 300px;
  text-align: center;
  border-bottom: 1px solid @foreground;
  .gradient(@left, @right);
}


#logout-link {
  position: absolute;
  bottom: 8px;
  right: 8px;
  line-height: normal;
  text-decoration: none;
  color: @foreground;
  
  &:hover {
    color: @foreground;
  }
}


#upload-link {
  line-height: normal;
  padding: 3px 10px;
  border: 1px solid @foreground;
  border-radius: 4px;
  color: @foreground;
  
  &.active,
  &:hover {
    background: @foreground;
    color: @background;
  }
}

// large screen view positioning
#upload-link {
  position: absolute;
  top: 50%;
  right: 64px;
  z-index: 100;
  transform: translate(0, -100%);
}


#team-name {
  display: inline-block;
  position: relative;
  line-height: normal;
  padding: 20px 0 10px 4px;
  vertical-align: middle;
  color: @foreground;
  
  #word-gish {
    font-family: 'Cabin Sketch';
    font-weight: normal;
    font-size: 300%;
    letter-spacing: 2px;
  }
  
  #word-team {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Cabin Sketch';
    font-size: 159%;
  }
  
  #word-2017 {
    position: absolute;
    bottom: 0;
    right: 4px;
    font-size: 120%;
  }
}


#team-emblem {
  display: inline-block;
  position: absolute;
  left: 0;
  line-height: normal;
  
  display: none;
  
  #mascot {
    
    img {
      height: 299px;
    }
    
    #slogan {
      display: inline-block;
      position: absolute;
      width: 100%;
      bottom: 18px;
      left: 0;
      text-align: center;
      color: @foreground;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
}


#main-menu {
  padding-left: 30px;
  .gradient(darken(@left, 20%), darken(@right, 20%));
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li {
      display: inline;
      
      a {
        display: inline-block;
        padding: 20px 40px;
        color: @foreground;
        
        &.active,
        &:hover {
          color: @indigo;
          background: @foreground;
        }
      }
    }
  }
}


/*** LARGE SCREEN VIEW ***/

@media @large-delta {
  
}


/*** SMALL SCREEN VIEW ***/

@media @small-delta {
  
  #top-bar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    height: 35px;
    width: 100%;
    border-bottom: 1px solid @foreground;
    .gradient(@left, @right);
  }
  
  #banner {
    height: 100px;
    line-height: 100px;
    margin-top: 35px;
  }
  
  #team-emblem {
    display: none;
  }
  
  #team-name {
    font-size: 60%;
    padding-top: 12px;
    
    #word-2017 {
      display: none;
    }
  }
  
  #upload-link {
    position: fixed;
    top: 4px;
    right: 50%;
    transform: translate(50%, 0);
  }
  
  #burger-icon {
    display: block;
    position: fixed;
    top: 6px;
    right: 7px;
    z-index: 100;
    width: 30px;
    height: 25px;
    padding: 2px;
    
    hr {
      margin: 0 0 5px;
      height: 3px;
      border-radius: 20px;
      background: @foreground;
    }
  }
  
  // never display in any view
  // #menu-toggle {
  //   display: none;
  // }
  
  #menu-toggle ~ #main-menu {
    display: none;
  }
  
  #menu-toggle:checked ~ #main-menu {
    display: block;
    position: fixed;
    top: 35px;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    
    ul {
      // counter display: flex; above
      display: block;
      
      li {
        
        a {
          display: block;
          width: 100%;
          padding: 14px 30px;
        }
      }
    }
  }
  
  #menu-toggle:checked ~ #banner {
    display: none;
  }
  
}


