  
  <header>
    <div id="top-bar"><!-- small screen banner --></div>
    
    <a id="upload-link" href="upload" title="Upload Files">Upload Files</a>
    
    <label id="burger-icon" for="menu-toggle">
      <div><hr><hr><hr></div>
    </label>
    
    <input id="menu-toggle" type="checkbox">
    
    <div id="banner">
      
      <figure id="team-emblem">
        <a href="index.html" title="Team Gishnanigans 2017">
          <!-- emblem, motto, slogan, icon, mascot -->
          <img id="mascot" src="include/media/mashup-lowsrc.png" onload="this.src='include/media/mashup-anim.gif';this.onload=new Function();" alt="Team Gishnanigans 2017">
          <figcaption id="slogan">I am not a mascot!</figcaption>
        </a>
      </figure>
      
      <a id="team-name" href="index.html" title="Team Gishnanigans 2017">
        <h1 id="word-gish">GISHNANIGANS</h1>
        <span id="word-team">TEAM</span>
        <span id="word-2017">2017</span>
      </a>
    </div>
    
    <nav id="main-menu">
      <ul>
        <li><a href="index.html" title="Home Page">Home</a></li>
        <li><a href="team" title="Our Team">Team</a></li>
        <li><a href="items" title="The List">The List</a></li>
        <li><a href="help" title="Get Help">Help!</a></li>
      </ul>
    </nav>
    
    <!-- <h1>{{title}}</h1> -->
  </header>
  