<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Gishnanigans {{title}}</title>

<script>
window.onload = function() {
  var server = window.location.search.slice(1);  // substring(1)
  var status = document.getElementById('status');
  var login = document.querySelector('input[name=username]');
  
  login.focus();
  
  var msg = '';
  switch (server) {
    case 'oops':
      msg = 'Wrong "username" or "password" Please try again';
      break;
    case 'out':
      msg = 'You have been logged out';
      break;
    case 'cook':
      msg = 'This site uses cookies for login security';
      break;
    default:
      msg = '';
  }
  
  status.style.display = (msg) ? 'inline-block' : 'none';
  status.innerHTML = msg;
}
</script>

<style type="text/css">

body {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: Verdana;
}

label {
  display: block;
  margin: 12px;
}

input[type=submit] {
  margin: 12px;
}

#status {
  display: inline-block;
  padding: 14px;
  background: lightpink;
}
</style>

</head>
<body>
  <section id="content">
    
    {{{contents}}}
    
    <form action="auth" method="post">
      <!--  enctype="multipart/form-data" -->
      <label>Username: <input name="username" placeholder="username" type="text"></label>
      <label>Password: <input name="password" placeholder="password" type="password"></label>
      <input type="submit" value="Login">
    </form>
    
    <p id="status"></p>
  </section>

<footer>
<small>Copyright © 2017, Team Gishnanigans</small>
</footer>
</body>
</html>